@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

@media screen and (orientation: landscape){

}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'MedievalSharp', cursive;
    text-align: center;
} 

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body{
    background-color: white;
    background-image:  url(../images/Background001.jpg);
    background-position: top center;
    background-repeat: no-repeat;

} .grayfund{
    
    background-color: #80808041;

}header{

    text-align: center;
    background-color: #80808041;
    
} #tormenta{
    width: 80px;
    height: 80px;
    padding: 10px;
} 

article > h2{

   padding-bottom: 10px;

} article > p{
    text-indent: 1em;
    line-height: 1.5em;
}

#itens{
    display: none;
} 

li{
    list-style: none;
    width: 80vw;
    margin: auto;
    border: white solid 1px;
    padding: 30px;
    border-radius: 5px;
    background-color: #cfc5b0;
}

li > a{
    font-size: 2em;
}


#heroes{
    padding: 30px;
    
}

#heroes > h1{
    text-align: left;
}

a{
    text-decoration: underline;
    color: black;
}

#q1{
    background-image: url(../images/shipbattle.jpg);
    background-position: left center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#q2{
    background-image: url(../images/newspaper.jpg);
    background-position: left center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

#q3{
    background-image: url(../images/bigcity.jpg);
    background-position: left center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;

}span{

    cursor: pointer;

}

@media screen and (orientation: portrait){

}
    #heroes>p{
    text-align: left;
}   

@media screen and (min-width:1200px){

    body{

        background-size: cover;
        text-align: center;

    } #heroes{

        text-align: center;

    } article#heroes>p, article#heroes>h1{
    
    text-align: center;

    }header{

    
    margin: auto;

    } main{

    max-width: 1100px;
    text-align: center;
    margin: auto;

    }

}