@charset "UTF-8";

span {

    position: fixed;
    font-size: 2em;
    top: 5px;
    left: 5px;
    cursor: pointer;
    color: gray;
    transition: .5s;
    animation: frames .5s;
    
} span:hover {

    color: white;

} @keyframes frames {

    0%{
        transform: translateX(-10px);
        opacity: 0%;
    } 100%{
        opacity: 100%;
    }

}