@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap');

* {

    margin: 0px;
    padding: 0px;

}html, body {

    --color1: #424242;
    --color2: #DBDBDB;
    background-color: var(--color1);
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    

} header {

    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    background-color: black;
    transition: filter .8s;
    z-index: 1;
    
} #imageFirst{

    width: 100%;
    height: 80vh;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    transition: filter .8s;

} #imageFirst:hover {

    filter: blur(5px);

} section {

    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-left: 4vw;
    text-align: left;
    text-indent: .5em;

} #sectionP1 {

    text-align: justify;
    margin-top: 20px;
    font-size: 1.3em;

} #myName{

    transition: filter, transform .2s; 
    z-index: 1;

}#myName:hover{

    transform: scale(1.1);
    text-shadow: 2px 2px black;

}#myName:hover > #imageFirst{

    filter: blur(5px);

} #myStart {

    margin: auto;
    width: 95%;

}#boxFrame {

    text-align: center;
    display: block;
    
}.box {
    
    width: 240px;
    margin: 2%;
    /*border:  solid var(--color2);*/
    border-radius: 15px;
    cursor: pointer;
    
    
} .boxImage {

    max-width: 75px;
    max-height: 75px;
    display: block;
    margin: auto;
    padding: 10px;
    

} .boxImage:hover {

    animation: frame 1.5s infinite linear;

} @keyframes frame {

    0%{
        transform: translateX(0px);
    } 25%{
        transform: translateX(10px);
    } 75%{
        transform: translateX(-10px);
    } 100%{
        transform: translateX(0px)
    }

} #boxFlex {

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

} .language{

    font-size: 1.4em;
    max-width: 600px;
    margin: auto;
    display: none;

} #boxLangs{

    display: block; 
    width: 100%; 
    height: 150px;

} @media (max-width: 407px){
    
    section {

        width: 90%;
        text-align: center;

    } #boxLangs{

        height: 270px;

    }

}