@charset "UTF-8";
@font-face {
    font-family: 'font1';
    src: url(fontes/idroid.otf);
}
body{
    background-color: #049DD9;
    margin: 0px;
} a{
    color: #aeb331;
    text-decoration: double;
    font-family: Arial, Helvetica, sans-serif;

} span{
    color: #aeb331;
}
header{
    width: 100%;
    margin: 0%;
    height: 190px;
    padding-top: 1px;
    padding-bottom: 5px;
    background-image: linear-gradient(to bottom, #0487D9, #0585b8,  #00000059);
} header > a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px 7px;

} header > a:hover{
    background-color: #033ba3d0;
    padding: 5px 7px;
    border-radius: 5px;
}

#headerH{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    margin-left: 0px;
    text-shadow: 1px 1px 1px black;

} #headerP{
    text-shadow: 1px 1px 1px black;
    color: white;
    text-align: center;
    text-indent: 0px;

} .mainTwice{
    height: 540px;
} img{
    width: 100%;
}.androidimg{
    width: 100%;
    max-width: 400px;
    max-height: 720px;
    display: block;
    margin: auto;
}
main{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:70%;
    margin: auto;
    padding-top: 5px;
    min-width: 320px;
    max-width: 1800px;
}

h1{
    font-size: 24px;
    font-family: 'font1';
    margin-left: 20px;
    color: #D3D93B;
}h2{
    font-size: 20px;
    margin-left: 20px;
    font-family: 'font1';
    color: #D3D93B;
    background-image: linear-gradient(to right,#edf3416b, #edf34100 );
}p{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;
    text-align: left;
    color: black;
    padding-left: 10px;
}.img{
    
    text-align: center;
    display: block;
}span{
    color: #D3D93B;
}
.video{
    background-color: #edf3416b;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 322px;
    text-align: center;
    position: relative;
} .video > iframe{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}
.saibamais{ /* QUER APRENDER MAIS? */
    border-radius: 10px;
    background-color: #edf3416b;
    width: 95%;
    padding-top: 0px;
}.headerMais{ 
    padding: 5px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #0487D9;
    width: 100%;
    height: 20px;
    background-image: none;
}#headersecond{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 5px;
    text-align: left;
    color: white;
    margin: auto;
    
}ul{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}footer{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    height: 24px;
    background-color: black;
    color: white;
} #android{
    width: 50%;
    display: block;
    margin: auto;
}