@charset "UTF-8";

* {

    padding: 0px;
    margin: 0px;

} section {

    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    flex-direction: row;
    justify-content: center;
    align-content: right;
    

} div {

    width: 20vw;
    height: 5vh;

}