@charset "UTF-8";

@media screen and (min-width: 768px){

    main {

        max-width: 700px;

    }
}

@media screen and (min-width: 1200px){

    main {

        max-width: 900px;

    } #leftBorderBig {

        display: block;
        padding: 15px;
        
        text-align: center;
        border-radius: 15px;
        background-color:  var(--leftBorder);
        transition: padding .3s;
    
    } #leftBorderBig:hover {

        padding: 20px;

    } #leftBorder {

        display: none;

    } #forms {

        max-width: 500px;

    }
    /* PRIMEIRAMENTE
    
    
    A BARRA AZUL VAI FICAR CENTRALIZADA
    DANDO ESPAÇO PARA A ABA A ESQUERDA
    QUE VAI FICAR, MOSTRANDO COMENTÁRIOS
    DE USUÁRIOS DIVERSOS
    
    POSSO POR ALGO DE FUNDO TAMBÉM, PARA
    NÃO FICAR UM ESPAÇO VAZIO*/

}