@charset "UTF-8";

*{

    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    --sectionColor: #F5001A;
    --sectionColor2: #EE4758;
    --leftBorder: #118FF8;
    

}  html, body {

    background-color: black;
    color: white;

} main{

    width: 95%;
    margin: auto;
    text-align: center;

} header {

margin: 10px;

} h1 {

    font-size: 1.5em;

} h2 {

    margin: 75px 20px;
    font-size: 1.2em;

} section {

    background-color: var(--sectionColor);

} #redLineColor {

    background-color: var(--sectionColor);
    border-radius: 20px;
    width: 90%;
    margin: auto;
    transition: width .3s;
    transition-timing-function: ease;
    
} #redLineColor:hover{

    width:  75%;
    
} #imageDiv {

    margin: 75px 0px;

}#imageMine {

    width: 50%;
    transition: width .3s;

} #imageMine:hover{

    width: 55%;

} #leftBorder {

    padding: 15px;
    width: 90%;
    text-align: center;
    border-radius: 0px 15px 15px 0px;
    background-color:  var(--leftBorder);
    transition: padding .3s;

} #leftBorder:hover{

    padding: 20px;

} #leftBorderBig {

    display: none;

}#fiveStarArea {

    margin: 25px;

} #rateImage {

    width: 180px;

} #ratingImage {

    width: 400px;
    border-radius: 15px;
    
} #forms > div {

    margin: 20px;
    

} input {

    padding: 5px;
    border: 0px;
    border-radius: 10px;

} #forms {

    background-color: var(--sectionColor);
    border-radius: 30px;
    padding: 10px;
    width: 90%;
    margin: auto;

} #forms > div > p:hover {

    color: var(--leftBorder);

} #forms > div > p::before {

    content: '>> ';

} #sendButton {

    cursor: pointer;

}