.jornal{

    margin: 1px;

} section{

    margin: 2px;
    padding: 10px 5px;
    background-color: rgba(240, 248, 255, 0.479);
    border-radius: 10px;
    border: black solid 1px;

} #imenu1{

    width: 91%;
    display: none;
    margin: auto;

} #j1 {

    cursor: pointer;

} #j2 {

    display: none;

} .page{

    position: relative;
    width: 100%;

                } @media screen and (min-width:900px){

                   .page{

                    width: 50%;

                   } 

                }