* {

margin: 0px;
padding: 0px;

} html, body {

background-color: black;
color: white;
font-family: Arial, Helvetica, sans-serif;

} h2 {

  margin: 20px;

}main {

  margin: auto;
  text-align: center;

} .colorArea {

  margin: auto;
  width: 200px;
  height: 50px;
  border: 1px solid white;

} .colorArea:hover {

  text-align: center;
  content: "Copy";
  color: white;
  background-color: rgba(56, 56, 56, 0.103);

} #colorPicker {

  position: absolute;
  display: block;
  transform: translate(100%, 1%);


}