* {

margin: 0px;
padding: 0px;

} html, body {


color: white;
font-family: Arial, Helvetica, sans-serif;

} h1, h2 {

  margin: 20px;

}main {

  margin: auto;
  text-align: center;

} .colorArea {

  margin: auto;
  width: 250px;
  height: 50px;
  

} .colorAreaLorem {

  margin: auto;
  margin: 20px;
  width: 200px;
  padding: 25px;
  display: inline-block;

} .colorArea:hover {

  text-align: center;
  content: "Copy";
  color: white;
  background-color: rgba(56, 56, 56, 0.103);
  

} #colorPicker {

  position: absolute;
  display: block;
  left: 35%;

} #whiteFont, #blackFont {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;

} #blackFont {

  color: black;

} 