@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* CORES
#2C1DF5 1 
#1763D4 2
#26D0EB 3
#1BF73A 4 Green
*/

/* PARTE DO CABEÇALHO */
.material-symbols-outlined {

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48

} header {

    padding: 10px;
    width: 100vw;
    background-color: #2C1DF5;
    color: black;
    
    

} #userHeader {

   margin-left: 5px;

} #vers {

    float: right;
    margin-right: 16px;

} #menu {

    float: left;
    margin-right: 8px;
    cursor: pointer;

} /* PARTE DO MEIO */

main{

    width: 100%;
    margin: auto;
    padding: 5px;

} menu {

    
    margin: 10px;
    padding-inline-start: 10px;
    margin-bottom: 0px;
    text-align: center;
    display: none;

}menu > span {

    margin: 0px .6vw;
    padding: 3px;
    border: 1px solid black;

}a {

    text-decoration: none;
    color: black;

}