@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* CORES
#2C1DF5 1 
#1763D4 2
#26D0EB 3
#1BF73A 4 Green
*/

/* PARTE DO CABEÇALHO */
.material-symbols-outlined {

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48

} header {

    padding: 10px;
    width: 100vw;
    background-color: #2C1DF5;
    color: black;
    
    

} #userHeader {

   margin-left: 5px;

} #vers {

    float: right;
    margin-right: 16px;

} #menu {

    float: left;
    margin-right: 8px;
    cursor: pointer;

} /* PARTE DO MEIO */

main{

    width: 100%;
    margin: auto;
    padding: 5px;
    text-align: center;

} menu {

    
    margin: 10px;
    padding-inline-start: 10px;
    margin-bottom: 0px;
    text-align: center;
    display: none;

}menu > span {

    margin: 0px .6vw;
    padding: 3px;
    

}a {

    text-decoration: none;
    color: black;

} .box{

    width: 32.5%;
    height: 200px;
    display: inline-flex;
    text-align: center;
    margin: 5px 2px;
    

} .box > p {

    margin: auto;

}#boxRose {
 background-color: #FCB956;
} #boxRose:hover{
background-color: #c49042;

} #boxGreen {
 background-color: #56FCBE;
} #boxGreen:hover {
background-color: #44c596;

} #boxBlue {
 background-color:#546DF5;
} #boxBlue:hover {
 background-color:#4255c0;
}#boxPurple {
 background-color: #CCE65A;
 width: 49%;  
}#boxPurple:hover {
    background-color: #97aa44;  

} #boxRed {
 background-color: #F54333;
 width: 48%;  
} #boxRed:hover {
background-color: #b43226;
width: 48%;  
   }

@media screen and (max-width: 950px){

        .box{
        width: 31.5%;
        } #boxPurple {
        width: 48%;    
       } #boxRed {
        width: 48%; 
       }
}