@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Charm&family=Merienda&display=swap');

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body{
    background-image: url(images/Background001.jpg);
    background-size: cover;
    background-attachment: fixed;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'MedievalSharp', cursive;
}
/* Caramel*/
h1{
    font-family: 'Merienda';
    color: rgb(214, 45, 2);
    font-size: 5vw;
    padding-left: 5vw;
    margin-top: 3vw;
}   

p {
    color: black;
    font-size: 4vw;
} .left{
    width: 40vw;
    margin-left: 5vw;
    margin-top: 2.5vw;
}  main{
    width: 40vw;
    height: 40vw;
    background-image: url(images/kailudthen.jpeg);
    background-size: cover;
    position: absolute;
    right: 8%;
    top: 1%;
} .middle{

    margin-top: 2vw;
    margin-left: 4vw;
    font-size: 4vw;
    text-indent: 2vw;

} .right{

    width: 40vw;
    margin-left: 5vw;
    margin-top: 2.5vw;
    padding-left: 50%;
    
} #secondimage{

    height: 50vw;
    right: 0%;
    left: 10%;
    margin-top: 93vw;
    position:absolute;
    background-image: url(images/1672764683975.png);

} #break{
 /*COLOCAR EM UMA DIV com style*/
    display: block;
    width: 95vw;
    height: 30vw;
    margin: auto;
    background-position: center center;
    background-image: none;
    background-size: cover;

} a{

    color: black;
    text-decoration: underline;

} a:hover{

    color: white;
    
}