@charset "UTF-8";

        
        body{
            background-color: #FAFAFA;
        }
        h1{
            font: lighter 28px 'Segoe UI', Arial, sans-serif;
            text-align: center;
        }p{
            font: normal 18px 'Segoe UI', Arial, sans-serif;
            text-align: center;
            
        }h2{
            font: bold 18px 'Segoe UI', Arial, sans-serif;
            text-align: center;
        }span{
            font: normal 18px 'Segoe UI', Arial, sans-serif;
            text-align: center;
            margin-right: 42px;
        }
        main{
            margin: auto;
            width: 600px;
            height: 600px;
            
        }
        #primeiro{
            margin-left: 20%;
        }