@charset "UTF-8";

* {

    font-family: "Chakra Petch", sans-serif;
    --color1: #1A1A1E;
    --color2: #510346;
    color: aliceblue;

} html {

    background-color: var(--color1);

} header, main, #menu {

    margin: auto;
    text-align: center;

} h1 {

    font-size: 25pt;
    font-weight: 400;

} button {

    border-radius: 10px;
    border: none;
    padding: 10px 15px 10px 15px;
    background-color: rgb(27, 187, 27);
    font-weight: 800;
    cursor: pointer;

} #mainForm {

    position: absolute;
    display: none;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1000px;
    max-height: 600px;
    background-color: aliceblue;


} #mainForm > header {

    background-color: rgb(40, 105, 110);
    padding: 10px;
    display: flex;
    justify-content: center;

} #mainForm > header > h1 {

    background-color: rgb(40, 105, 110);
    margin: 0;
    

} label {

    color: black;

} #blurMain {

    filter: blur(0px);

} .FormArea {

    width: 100%;

} .labels {

    flex-direction: column;
    margin: 10px 40px 10px 10px;
    width: 40%;
    display: flex;

} .labels > p {

    color: rgb(218, 56, 56);
    margin: 1px 0px 0px 5px;
    font-size: .8em;
    visibility: hidden;

} .form {

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 40px 10px 0px 10px;

} input {

    color: #1A1A1E;

} .nextButtonClass {

    display: flex;
    justify-content: center;

} .nextButton {

    padding: 15px 40px 15px 40px;

}