@charset "UTF-8";

*{
    --strongPurple: #370f53;
    --white: white;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    --width: 100%;
}

#upHeader{

    margin: 0px;
    width: 100vw;
    height: 26px;
    background-color: var(--strongPurple);

} #upHeader > section {

font-size: 12px;
text-align: center;

}#upHeader > section > p{

    padding: 5px;

} #produtos{

    text-decoration: none;
    color: var(--white);

} #logo {
    
    width: 150px;
    padding: 10px;
    margin-right: 37px;
    cursor: pointer;

} header {

    max-width: 700px;
    height: 46px;
    padding: 5px;
    margin: auto;

} #mainHeader{

    background-color: var(--purple);

} .material-symbols-outlined{

    color: var(--white);
    padding: 10px;

} #menu {

 float: left;
 cursor: pointer;

}  #shoppingCart {

    display: table-cell;
    vertical-align: middle;
    margin-right: 2vw;

}  #logoNetshoes {

    display: table-cell;
    text-align: center;
    
    margin-left: 17vw;
    margin-right: 4vw;

} #favoriteIcon {
    cursor: pointer;
} #shoppingIcon {
    cursor: pointer;
} #searchArea {

    width: 99.5%;
    height: 42px;

} #isearch {

    width: 100%;
    border: none;

} #searchIcon-icon {

    color: black;
    cursor: pointer;

} #search {

    width: 60vw;
    height: 42px;
    float: left;

}#pSearch {

    margin-top: 10px;
     /*PRECISO CORRIGIR ESSA PARTE*/
     

} #searchIcon {

    float: right;
    display: table-cell;

}




@media screen and (min-width:500px){

    #logo {
        margin-right: 160px;
    }

}



