@charset "UTF-8";

#frame {

    width: 100vw;

}#bannerUp {

    margin: auto;
    text-align: center;
    background-color: #FBED02;
     
} .banner {

    text-align: center;

} .banner-topHomePage{

    width: 100%;

} .miniBannerSpace {

    margin: 10px;
    text-align: center;

} .miniBanner {

    width: 65%;

} #bannerSecond {

    width: 100%;

}