@charset "UTF-8";

#frame {

    width: 100vw;

}#bannerUp {

    margin: auto;
    text-align: center;
    background-color: #FBED02;
     
} .banner {

    text-align: center;
    

} .banner:hover{

    background-color: #8080809c;
    margin: 5px;
    transition: .5s;

}.banner-topHomePage{

    width: 100%;

} .miniBannerSpace {

    margin: 10px;
    text-align: center;

} .miniBanner {

    width: 65%;

} #bannerSecond {

    width: 100%;

} #bannerThree {

    width: 100%;
    height: 60vh;
    background-image: url(../images/bannerThree.png);
    background-size: cover;
    

} #bannerThree:hover {


    
    transform: scale(0.95);
    transition: .5s;

}