@charset "UTF-8";

*{
   --purple: #5A2D82;
   --whiteGray: #f4f4f4;
   --spanLocation: 80vw
}

#menuScale{

    
    position: absolute;
    width: 90vw;
    top: 0%;
    height: 100vh;
    background-color: white;

} #user{

    background-color: var(--purple);
    height: 46px;

} span{

    vertical-align: middle;
    color: white;
    text-decoration: double;

} li {

    /*DIPSPLAY É O LIST ITEM*/
    padding: 10px;
    border-top: 1px solid #e2e2e2;
    
    

} li > p{

    cursor: pointer;

} .secondUl{

    padding: 10px;
    background-color: var(--whiteGray);
    border-top: 1px dashed #dddddd;
    cursor: pointer;
    text-indent: 33px;

/*TO ADD A NEW MENU INTO THE MENU
attribute the class closeMenus 
and create a new ID to the UL
Go into JS and create the if
verification to the 'a' of function
openMinMenu*/

} #imundial {

    display: none;

} #ioutlet {

    display: none;

} #bigMenu{

    display: none;

} p>.material-symbols-outlined{

    color: black;
    display: right;
    
} .secondUl > span {

    color: black;
    float: right;
    
} #closeIcon {
 
    color: rgb(92, 92, 92);
    cursor: pointer;


} #closeIconArea {

    position: absolute;
    top: 0%;
    left: 100%;
    background-color: rgba(36, 36, 36, 0.74);

}